.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    height: 100%;
}
.a-right{
    flex:1;

}
.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
    border-radius: 13px;

}
.a-card{
    height: 70vh;
    width: 60%;
    position: absolute;
}
.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 13px;
}

.abt{
    text-align: center;
}

